@import "@/styles/variables.scss";
@import "@/styles/mixins.scss";

.hero {
  position: relative;
  width: 100%;
  height: 60vh;
  min-height: 500px;
  background-image: url("/backGroundHero.jpg");
  background-position: center;
  background-size: 110%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  @include tablet {
    height: 30vh;
    min-height: 400px;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      90deg,
      $text-dark 0%,
      $accent-blue-opacity 100%
    );
    z-index: 1;
  }

  .content {
    position: relative;
    z-index: 2;
    @include container;
    text-align: center;
  }

  .title {
    font-size: 10rem;
    font-weight: 200;
    background: linear-gradient(90deg, $white 0%, #93c5fd 45%, #38649b 100%);
    // -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    letter-spacing: 0.05em;
    line-height: 1.2;
    margin: 0;
    text-transform: uppercase;

    @include tablet {
      font-size: 7rem;
    }
  }
}
