@import "@/styles/variables.scss";
@import "@/styles/mixins.scss";

.footerContainer {
  display: flex;
  justify-content: column;
  height: 40vh;
  padding: 4rem 5rem;
  background: linear-gradient(
    45deg,
    $primary-blue 0%,
    $primary-blue 50%,
    $secondary-blue 100%
  );

  @include tablet {
    height: fit-content;
  }

  @include tablet {
    height: fit-content;
  }

  .footerData {
    display: flex;
    justify-content: space-between;
    align-items: start;

    @include tablet {
      flex-direction: column;
    }

    @include mobile {
      flex-direction: column;
    }

    .logo {
      @include flex-column;
      @include flex-center;

      h3 {
        font-size: 3rem;
        color: $white;
        font-weight: 200;
        line-height: 2.5rem;
        text-align: center;
        font-weight: 200;
      }
    }

    .copy {
      width: 30%;
      color: $text-light;
      font-size: 1.7rem;
      @include tablet {
        width: 90%;
      }

      @include tablet {
        width: 90%;
      }
    }

    .siteMap {
      @include flex-column;
      gap: 0.5rem;

      h3 {
        font-size: 2.5rem;
        color: $white;
        font-weight: 200;
      }

      a {
        font-size: 1.7rem;
        color: $text-light;
      }
    }

    .office {
      @include flex-column;
      gap: 0.5rem;
      font-size: 1.7rem;
      color: $text-light;

      h3 {
        font-size: 2.5rem;
        color: $white;
        font-weight: 200;
      }
    }
  }
}
